@model ConsultorioMedico.Models.Prontuario

<h2>Delete</h2>
<h4>Prontuario</h4>

<h3>Você tem certeza disso?</h3>
<div>
    <h4>Prontuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consulta.ConsultaID)
        </dd>

        <dt>
            Exame
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exame.Nome)
        </dd>

        <dt>
            Medico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consulta.Medico.Nome)
        </dd>

        <dt>
            Paciente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consulta.Paciente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Informacoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Informacoes)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para Lista", "Index")
        </div>
    }
</div>
