@model ConsultorioMedico.Models.Prontuario

<h2>Detalhes</h2>

<div>
    <h4>Prontuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProntuarioID)
        </dd>

        <dt>
            Exame
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exame.Nome)
        </dd>

        <dt>
            Medico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consulta.Medico.Nome)
        </dd>

        <dt>
            Paciente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consulta.Paciente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Informacoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Informacoes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ProntuarioID }) |
    @Html.ActionLink("Deletar", "Delete", new { id = Model.ProntuarioID }) |
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
