@model ConsultorioMedico.Models.Prontuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Prontuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Consulta.ConsultaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consulta.ConsultaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exame.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exame.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medico.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medico.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Informacoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Informacoes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProntuarioID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
