@model ConsultorioMedico.Models.Prontuario

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Prontuario</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProntuarioID)

    <div class="form-group">
        @Html.LabelFor(model => model.ConsultaID, "ConsultaID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ConsultaID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConsultaID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div id="dadosConsulta">
        @{
            Html.RenderPartial("PartialConsulta",Model.Consulta);
        }
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Informacoes, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Informacoes, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Informacoes, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ExameID, "ExameID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ExameID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ExameID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar" class="btn btn-default" />
        </div>
    </div>
    <div>
        @Html.ActionLink("Voltar para Lista", "Index")
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Consultorio/Prontuarios.js")
}
