<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Consultorio Medico</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
        <div class="container">
            @Html.ActionLink("Consultorio Medico", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Pagina Inicial", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Consultas", "Index", "Consultas", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Pacientes", "Index", "Pacientes", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Medicos", "Index", "Medicos", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Atendentes", "Index", "Atendentes", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Convenios", "Index", "Convenios", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Especialidades", "Index", "Especialidades", null, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Consultório Médico</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
