@model ConsultorioMedico.Models.Exame

<h2>Detalhes</h2>

<div>
    <h4>Exame</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExameID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.EspecialidadeID }) |
    @Html.ActionLink("Deletar", "Delete", new { id = Model.EspecialidadeID }) |
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
