@model PagedList.IPagedList<ConsultorioMedico.Models.Exame>
@using PagedList.Mvc;

<h2>Index</h2>
<h4>Exame</h4>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Procurar por Nome: @Html.TextBox("SearchString")
        <input type="submit" value="Pesquisar" />
        | @Html.ActionLink("Limpar Busca", "Index")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.IDSortParm })
        </th>
        <th>
            @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NomeSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExameID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ExameID }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.ExameID }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.ExameID })
            </td>
        </tr>
    }

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))